/*NAVIGAION STYLING*/

.navBar{
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.navLogo{
    width: 80px;
    height: 64px;
    margin-left: 30px;
}

.linkSix{
    margin-right: 30px;
}

.linkOne, .linkTwo, .linkThree, .linkFour, 
.linkFive, .linkSix{
    color: white;
}

.linkTwo:hover{
    color: rgb(163, 2, 2);
    transform: translateY(2px);
}

.linkThree:hover{
    color: rgb(163, 2, 2);
    transform: translateY(2px);
}


.linkFour:hover{
    color: rgb(163, 2, 2);
    transform: translateY(2px);
}


.linkFive:hover{
    color: rgb(163, 2, 2);
    transform: translateY(2px);
}

.mobileNavBarIconPhoto{
    display: none;
}


body{
    margin: 0;
    color: red;
}



/*NAVIGATION BAR FOR MOBILE*/

/*@media (min-width: 500px){
.navBar{
    display: none;
}
.mobileNavBarIcon{
    display:contents;
}
}*/